.profile-page {
  font-family: "Nanum";

  .profile {
    &-header {
      font-size: 5rem;
      margin-bottom: 5vh;
    }
    &-ul {
      &__li {
        font-size: 3rem;
        margin-bottom: 3vh;
      }
    }
  }
}
