.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  opacity: 0.4;
  background-color: white;
  opacity: 0.5;
  // margin: 20vw;
  // background: linear-gradient(0, #02080a, #0f2027, #203f4d);
  &__cloud-img {
    width: 100vw;
    height: 2vh;

    // background-color: aqua;
  }
}
