.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 5vh 5vw;

  font-family: "Nanum";

  .profile {
    &-header {
      font-size: 5rem;
      margin-bottom: 5vh;
    }
    &-ul {
      &__li {
        font-size: 3rem;
      }
    }
  }
}
