@mixin page {
  position: relative;
  margin: 35vh 25vw 35vh 25vw;

  width: 50vw;
  height: 70vh;
  background-color: wheat;
}
body {
  width: 100vw;
  height: 100vh;

  .canvas-page {
    position: fixed;
    top: 0;
    left: 0;
  }

  .sideScroll {
    position: fixed;
    top: 40vh;
    right: 3vw;

    width: 10vw;
    height: 20vh;
  }

  .profile-page {
    @include page;
    margin-top: 100vh;
  }

  .skills-page {
    @include page;
  }

  .projects-page {
    @include page;
    margin-bottom: 20vh;
  }
  .bottomImg {
    position: fixed;
    bottom: 0;

    width: 100vw;
    height: 20vh;
  }

  .empty {
    @include page;
    margin: 0;
    height: 1px;
  }
}
